{% extends "app/layout.html" %}

{% block content %}

<section class="banner">
    <div class="container body-content">
        <h2 class="text-center">Our Accordions</h2>
    </div>
</section>

<div class="container body-content">
    <h3><strong>Piano Accordions</strong></h3>
    <section id="ah3472">
        <div class="container">
            <h3 class="text-center"></h3>
            <div class="row">
                <div class="col-md-6">

                </div>
                <div class="col-md-6">

                </div>
            </div>
        </div>
    </section>
</div>


{% endblock %}
